.auctions {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auctions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}